# Archivos de entorno y configuraciones sensibles
.env
.env.*

# Directorios de dependencias y paquetes
node_modules/
bower_components/

# Archivos y directorios generados
dist/
build/
coverage/
.cache/
*.log

# Archivos temporales de sistemas operativos
.DS_Store
Thumbs.db
*.swp

# Directorios de compilación y de depuración
.vscode/
.idea/

# Caché de dependencias
.npm/
.yarn/

# Archivos de cobertura de pruebas
coverage/
nyc_output/
.jest/

# Logs de bases de datos o frameworks
mongodb.log
*.sqlite
*.sql
